// Place all the styles related to the steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font: {
    family:Roboto,sans-serif;
    size:18px;
  }
  background: linear-gradient(75deg, #E1E817, #FFFFFF)
  }

a {
  color: white;
}

.header {
  text-align: center;
  color: black;
  background: inherit;
}

.btn-gradient {
  background-color: black;
  &:hover {
    color: black;
    background-color: white;
  }
}

.newstep {
  text-align: center;

}

.arrow {
  text-align: center;
  & span {
    font-size: 2em;
    vertical-align: middle;
    color: black;
  }
}
.jumbotron {
  background-color: #EBCE10;
  vertical-align: middle;
  font-size: 0.4rem;
  width:auto;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0em 1em 2.3em 1em;
  margin-bottom: 0;
  & span {
    color: black;
    font-size: 4rem;
  }
}
